	<!-- USER MESSAGE DISPLAY BLOCK -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="question-excerpt" ng-show="userMessage !=''">
                    <button class="btn hide-message-btn" ng-click="hideMessage()"><i class="fa fa-times"></i></button>
                    <p>{{userMessage}}</p>
                 </div>
            </div>
        </div>
    </div> 
    <!-- DISPLAY CATEGORIES TABLE HEADER AND CONTROLS -->
    <div id="posts-display">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="">
						<a class="btn btn-success right" ng-href="/add-post" ng-show="isLoggedIn"><i class="fa fa-plus-square"></i> Add New Post</a>
                        <a class="right" ng-href="/login" ng-show="!isLoggedIn">Login To Post</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1 class="page-title"><a href="/categories">Categories</a> <i class="fa fa-chevron-right"></i> {{category.categoryname}}</h1>
				</div>
			</div>
		</div>
		<div ng-if="category.posts == 0">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="user-message warning" ng-show="message !=''">
							<p>No Posts To Display</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="category.posts != 0">
			<div class="container">
				<div class="row">
					<div class="table-wrap">
						<div class="col-md-6 col-sm-6 col-xs-6 table-heading">
							<p ng-click="orderByTitle()">Title
								<span ng-show="rowFilter == 'title'"><i class="fa fa-arrow-circle-down"></i></span>
								<span ng-show="rowFilter == '-title'"><i class="fa fa-arrow-circle-up"></i></span>
							</p>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-3 table-heading">
							<p ng-click="orderByReplies()">Replies
								<span ng-show="rowFilter == 'comments.length'"><i class="fa fa-arrow-circle-down"></i></span>
								<span ng-show="rowFilter == '-comments.length'"><i class="fa fa-arrow-circle-up"></i></span>
							</p>
						</div>
						<div class="col-md-2 col-sm-2 hidden-xs table-heading">
							<p ng-click="orderByView()">Views
								<span ng-show="rowFilter == 'views'"><i class="fa fa-arrow-circle-down"></i></span>
								<span ng-show="rowFilter == '-views'"><i class="fa fa-arrow-circle-up"></i></span>
							</p>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-3 table-heading">
							<p ng-click="orderByVotes()">Votes
								<span ng-show="rowFilter == '-upvotes'"><i class="fa fa-arrow-circle-down"></i></span>
								<span ng-show="rowFilter == 'upvotes'"><i class="fa fa-arrow-circle-up"></i></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
        <!-- DISPLAY CATEGORIES -->
          <!-- <div class="container">
            <div class="table-wrap">
                <div class="row post-row" ng-repeat="post in category.posts | orderBy: rowFilter">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <p><a href="/view-post/{{post._id}}/{{post.title | slugify}}">{{post.title | cut:true:60: ' ...'}}</a><span ng-if="post.active == false" class="tag-post">Closed</span></p>
                        <p class="category-description" title="{{post.created | date:'MM-dd-yy @ h:mm a'}}">Posted {{post.created | timeAgo }} by {{post.author }}</p>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-3">
                        <p>{{post.comments.length }}</p>
                    </div>
                    <div class="col-md-2 col-sm-2 hidden-xs">
                        <p>{{post.views}}</p>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-3">
                        <p class="upvote-display"><span class="upvote-count">+{{post.upvotes}}</span>&nbsp;<span class="downvote-count">-{{post.downvotes}}</span></p>
                    </div>
                </div>
            </div>
            <p class="category-description right">Created by: {{ category.createdby }} <span title="{{category.created | date:'MM-dd-yy @ h:mm a'}}">{{category.created | timeAgo}}</span></p>
        </div> --> 


  <div class="container">
        <div class="row">
            <div class="col-md-12">
   <div class="main-questions-list" ng-repeat="post in category.posts | orderBy: rowFilter">
            <ul id="main_questions_list">
    <li data-id="42" class="question-item post-42 question type-question status-publish hentry question_category-design qa_tag-designer qa_tag-illustrator qa_tag-photoshop qa_tag-school qa_tag-work" itemtype="" itemscope="" itemprop="itemListElement">
    <div itemtype="" itemscope="" itemprop="item">
        <div class="col-md-6 col-xs-6 q-left-content">
            <div class="q-ltop-content">

   <!--  <p><a href="/view-post/{{post._id}}/{{post.title | slugify}}">{{post.title | cut:true:60: ' ...'}}</a><span ng-if="post.active == false" class="tag-post">Closed</span></p> -->

                <h2 itemprop="name">
                    <a class="question-title" href="/view-post/{{post._id}}/{{post.title}}" itemprop="url">{{post.title | cut: true:60: ' ...'}}</a><span ng-if="post.active == false" class="tag-post">Closed</span>
                </h2>
            </div>
            <div class="q-lbtm-content">
                <div class="question-excerpt" itemprop="text">
                    <p class="category-description" title="{{post.created | date:'MM-dd-yy @ h:mm a'}}">Posted {{post.created | timeAgo }} by {{post.author }}</p>
                    <!-- <p>The biggest mistake is jumping into Photoshop too fast. Learning Photoshop does not make you a designer, just like buying</p> -->
                </div>
                <div class="question-cat">
                      <div class="question-cat">
                            <ul class="question-tags" ng-repeat="x in post.tags">
                            <li>
                            <a class="q-tag" href=" ">{{x.text}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <a href="" itemtype="" itemscope="" itemprop="author">
               <span class="author-avatar"> <img alt="" class="avatar" src="" itemprop="image">    </span>
                        <span class="author-name" itemprop="name">admin</span>
                    </a>
                                     <span class="question-time" datetime="on June 5, 2014" itemprop="dateCreated">
                    Asked on June 5, 2014 in                </span>
                    <span class="question-category">
                                    <a href="">{{category.categoryname}}</a>
                                </span>                </div>
            </div>
        </div><!-- end left content -->
        <div class="col-md-5 col-xs-5 q-right-content">
            <ul class="question-statistic">
      <li class=""><span class="question-answers" itemprop="answerCount"> {{post.comments.length }} </span>answers  </li>&nbsp &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp
                <li> <span class="question-views"> {{post.views}} </span> views  </li>
             
                <li><span class="question-votes" itemprop="upvoteCount">+{{post.upvotes}} </span>Likes</li>
                <li><span class="question-votes" itemprop="downvoteCount">-{{post.downvotes}} </span>Dislikes </li>
            </ul>
            <div class="pumping">
                <p class="category-description right">Created by: {{ category.createdby }} <span title="{{category.created | date:'MM-dd-yy @ h:mm a'}}">{{category.created | timeAgo}}</span></p>
                            </div>

        </div><!-- end right content -->
        <div class="clearfix"></div>

    </div>

</li>            </ul>
        </div>
    </div>
</div>
</div>
   










    </div><!-- end posts-display -->










    <!-- <div class="container">
        <div class="row">
            <div class="col-md-12">
   <div class="main-questions-list">
            <ul id="main_questions_list">
    <li data-id="42" class="question-item post-42 question type-question status-publish hentry question_category-design qa_tag-designer qa_tag-illustrator qa_tag-photoshop qa_tag-school qa_tag-work" itemtype="" itemscope="" itemprop="itemListElement">
    <div itemtype="" itemscope="" itemprop="item">
        <div class="col-md-7 col-xs-7 q-left-content">
            <div class="q-ltop-content">
                <h2 itemprop="name">
                    <a class="question-title" href="" itemprop="url">How do you get a job as a designer without going to design school?</a>
                </h2>
            </div>
            <div class="q-lbtm-content">
                <div class="question-excerpt" itemprop="text">
                    <p>The biggest mistake is jumping into Photoshop too fast. Learning Photoshop does not make you a designer, just like buying</p>
                </div>
                <div class="question-cat">
                    <ul class="question-tags">
                          <li>
                                <a href=" " class="q-tag">designer </a>
                            </li>
                              <li>  <a href="" class="q-tag"> Illustrator  </a>
                            </li>
                                    <li>  <a href="" class="q-tag">photoshop </a>
                            </li>
                                 <li>    <a href="" class="q-tag">school  </a>
                            </li>
                                                    <li>
                                <a href="" class="q-tag">
                                    work                                </a>
                            </li>
                                            </ul>
                    <div class="clearfix"></div>
                    <a href="" itemtype="" itemscope="" itemprop="author">
                    <span class="author-avatar">
                        <img alt="" class="avatar" src="" itemprop="image">                    </span>
                        <span class="author-name" itemprop="name">admin</span>
                    </a>
                    <span style="background-color:#780978;" class="user-badge" title="1515">Professor</span>                    <span class="question-time" datetime="on June 5, 2014" itemprop="dateCreated">
                    Asked on June 5, 2014 in                </span>
                    <span class="question-category">
                                    <a href="">Design.</a>
                                </span>                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-4 q-right-content">
            <ul class="question-statistic">
                <li>
                <span class="question-views">
                    21                </span>
                    views                </li>
                <li class="">
                <span class="question-answers" itemprop="answerCount">
                    1                </span>
                    answers                </li>
                <li>
                <span class="question-votes" itemprop="upvoteCount">
                    0                </span>
                    votes                </li>
            </ul>
            <div class="pumping">
                            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</li>            </ul>
        </div>
    </div>
</div>
</div> -->
   